body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(189, 157, 18);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 20px;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}